
<!-- Agregar expresiones a la interpolacion -->
<!-- 
    Ej:
        Edad: {{ edad + 1 }}
    
    - Testear en personas.component.html
-->

<!-- Interpolacion de una variable privada -->
<!-- 
    /* Atributos */ 
    Ej:
        private edad: number = 30 
    
    /* Para obtener un atributo privado se debe agregar un metodo */
    Ej:
        get_edad(): number {
            return this.edad
        }
    
    /* La variable se debe llamar desde un metodo */
    Ej:
        Edad: {{ get_edad() }}
    
    - Testear en personas.component.html
-->

<!-- Template Reference Variable  -->
<!-- 
    Ej: Capturar el evento de una tecla
    <div (keyup)="0">
        Definicion de variable #entrada al input
        <label>Repetidor: </label>
        <input #entrada>
        Interpolacion de la variable input
        {{ entrada.value }}
    </div> 
-->
