
<!-- Agregar expresiones a la interpolacion -->
    <!-- 
        Ej:
            Edad: {{ edad + 1 }}
    -->
    <!-- Interpolacion de una variable privada -->
    <!-- 
        La variable se debe llamar desde un metodo
        Ej:
            Edad: {{ get_edad() }}
    -->

<!-- Template Reference Variable  -->
<!-- 
    Ej: Capturar el evento de una tecla
    <div (keyup)="0">
        Definicion de variable #entrada al input
        <label>Repetidor: </label>
        <input #entrada>
        Interpolacion de la variable input
        {{ entrada.value }}
    </div> 
-->
